.LinkPoint {
  cursor: pointer;
  transform-box: fill-box;
  transition: transform 0.1s;
  &:hover {
    fill: rgb(0, 50, 0);
    transform: scale(1.5);
  }
  fill: green;
  &__selected {
    stroke: rgb(0, 192, 255) !important;
    stroke-dasharray: 10, 2;
    animation: dash 1s linear infinite;
    stroke-width: 3;
    @keyframes dash {
      from {
        stroke-dashoffset: 24;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  &__hidden {
    visibility: hidden;
  }
}
