.diagram-widget {
    position: absolute;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    &__side-panel {
        position: relative;
        margin: 0.5em;
    }
    &__name {
        text-align: center;
    }
    &__selected {
        border: 2px solid blue;
    }
}

.ports {
    display: flex;
    &__in {
        flex: 1;
    }
    &__out {
        flex: 1;
    }
}
