.editor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__inner {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.Editor__Inner__Svg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: visible !important;
    &__Path {
        cursor: pointer;
        fill: none;
        stroke: grey;
        stroke-width: 4;
        &:hover {
            stroke-width: 5;
        }
    }
    &__Rect {
        cursor: pointer;
        &:hover {
            fill: rgb(0, 50, 0);
        }
        fill: green;
    }
}
