.DiagramWidget {
  contain: content;
  pointer-events: all;
  position: absolute;
  padding: 0.5em;
  width: fit-content;
  height: fit-content;
  cursor: grab;

  svg {
    margin-right: 0.3em;
  }

  &__Header {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.3em;
    border-bottom: 1px solid black;
  }

  &__SidePanel {
    width: inherit;
    overflow: hidden;
    position: relative;
    margin: 0.5em;
  }

  &__Ports {
    display: flex;
    > div {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    margin-top: 1em;
  }

  &__selected {
    background: linear-gradient(90deg, rgb(0, 192, 255) 50%, transparent 0),
      linear-gradient(0deg, rgb(0, 192, 255) 50%, transparent 0),
      linear-gradient(90deg, rgb(0, 192, 255) 50%, transparent 0),
      linear-gradient(0deg, rgb(0, 192, 255) 50%, transparent 0);
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 20px 4px, 4px 20px, 20px 4px, 4px 20px;
    background-position: left top, right top, left bottom, left top;
    animation: movingBorder 7s infinite linear;
  }

  &__constrained {
    max-width: 250px;
  }

  &__grabbing {
    cursor: grabbing;
  }

  @keyframes movingBorder {
    0% {
      background-position: left top, right top, right bottom, left bottom;
    }
    100% {
      background-position: right top, right bottom, left bottom, left top;
    }
  }
}

.IconWidget {
  cursor: grab;
  svg {
    vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
